<div class="panel panel-primary">
  <div>
    <form [formGroup]="customerformGroup"
      (submit)="addNewCustomer(customerformGroup)">
      <fieldset>
        <div class="form-group"
          [class.has-error]="fName.invalid && fName.touched">
          <label for="fName">First Name</label>
          <input type='text' id='fName' class="form-control"
            formControlName="fName" placeholder="First Name (required)"
            required />
          <div class="help-block text-danger"
            *ngIf="fName.errors?.['required'] && fName.touched">
            <span *ngIf="fName.errors?.['required'] ">First
              name is Required</span>
            <span *ngIf="fName.errors?.['minlength']">First
              name must be min 3 chars</span>
          </div>
        </div>
        <div>
          <label for="lNameId">Last Name</label>
          <input type='text' id='lnameId' class="form-control"
            formControlName="lName" placeholder="Last Name (required)" />
        </div>
        <button class="btn btn-primary" (click)="onLoad()" type='button'>Load
          Customer</button>
        <button type='submit'>Add Customer</button>
      </fieldset>
    </form>
  </div>
  <pre>Form Status: {{customerformGroup.status }}</pre>
  <pre>{{customerformGroup.value | json}}</pre>
  <pre>FName: {{fName.value}}</pre>
</div>