<h1>Welcome to Angular {{title}} from {{location}}</h1>
<hr>
<!-- <div>
    <app-boxa labelValue="Location" [data]="location"
        (onBoxDataChange)="onBoxValueChange($event)"></app-boxa>
</div>
<div>
    <app-boxa [data]="location"></app-boxa>
</div>
<div>
    <app-customer-form></app-customer-form>
</div> -->
<!-- <app-counter-app></app-counter-app> -->

<!-- <app-employee-form></app-employee-form> -->
<!-- <app-customer-reactiveformb></app-customer-reactiveformb> -->
<!-- <app-book-list></app-book-list> -->
<!-- <app-book-catlog></app-book-catlog> -->
<app-menu></app-menu>
<router-outlet></router-outlet>