<div>
    <h2>Samosa vs burger: Which junk food is healthier? Here is truth</h2>
    <div>
        <h3>
            Are you among those who often go for a burger while in a restaurant
            but avoid eating a samosa calling it unhealthy? Then, here is an
            eye-opener for you.
        </h3>
    </div>
    <img alt="snacks" src="images/Samosa.jpg" height="300" width="300" />
    <div>
        Are you among those who often go for a burger while in a restaurant but
        avoid eating a samosa calling it unhealthy? Then, here is an eye-opener
        for you. The favourite Indian ‘chai’-time snack, samosa has won the
        battle against burger. In the latest report released by Centre for
        Science and Environment (CSE), a samosa is better for an individual’s
        health than a burger because it is made by using fresh ingredients and
        is free of additives, preservatives and flavouring. The report, released
        on Monday, observes that while a samosa may be calorie-dense, it is
        largely made of chemical-free ingredients such as refined wheat flour,
        cumin, boiled potatoes, peas, salt, chillies, spices, vegetable oil or
        ghee.
    </div>
</div>