<div class="panel-heading">Customer Form</div>
<form name="customerForm" #customerFormGroup="ngForm"
    (submit)="saveCustomer(customerFormGroup)">
    <div class="form-group"
        [class.has-error]="firstNameFormControl.invalid && firstNameFormControl.touched">
        <label for="fName">
            First Name:
        </label>
        <input class="form-control" placeholder="Enter first name" name="fName"
            [ngModel]="customerModel.firstName" required minlength="3"
            #firstNameFormControl="ngModel" />
        <div class="help-block"
            *ngIf="firstNameFormControl.invalid && firstNameFormControl.touched">
            <span *ngIf="firstNameFormControl.errors?.['required']">
                <mark>First Name is Required</mark>
            </span>
            <span *ngIf="firstNameFormControl.errors?.['minlength']">
                <strong>First Name must be more than 3 chars</strong>
            </span>
        </div>
    </div>
    <div class="form-group"
        [class.has-error]="lastNameFormControl.invalid && lastNameFormControl.touched">
        <label for="lName">
            Last Name:
        </label>
        <input class="form-control" placeholder="Enter last name" name="lName"
            [ngModel]="customerModel.lastName" required minlength="3"
            #lastNameFormControl="ngModel" />
        <div class="help-block"
            *ngIf="lastNameFormControl.invalid && lastNameFormControl.touched">
            <span *ngIf="lastNameFormControl.errors?.['required']">
                <mark>Last Name is Required</mark>
            </span>
            <span *ngIf="lastNameFormControl.errors?.['minlength']">
                <mark> Last Name must be more than 3 chars</mark>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="email">
            Email:
        </label>
        <input class="form-control" placeholder="Enter email address"
            name="email" [ngModel]="customerModel.email"
            #emailFormControl="ngModel" />
    </div>
    <button class="btn btn-primary">submit</button>
</form>

<!-- <pre class="bg-info  card" style="width: 18rem;">
	is pristine : {{customerFormGroup.pristine}}
	is dirty    : {{customerFormGroup.dirty}}
	
	is valid    : {{customerFormGroup.valid}}
	is invalid  : {{customerFormGroup.invalid}}
	
	is untouched: {{customerFormGroup.untouched}}
	is touched  : {{customerFormGroup.touched}}
</pre>
<pre class="bg-warning  card" style="width: 18rem;">
	is pristine : {{firstNameFormControl.pristine}}
	is dirty    : {{firstNameFormControl.dirty}}
	
	is valid    : {{firstNameFormControl.valid}}
	is invalid  : {{firstNameFormControl.invalid}}
	
	is untouched: {{firstNameFormControl.untouched}}
	is touched  : {{firstNameFormControl.touched}}
</pre> -->